@model PlayerViewModel
@{
    SelectList List = new SelectList(Model.PlayerNameList, "PlayerId", "PlayerName");
}
<script src="~/js/tinymce/tinymce.min.js" referrerpolicy="origin"></script>
<form asp-controller="InvitePlayer" asp-action="AddPlayerToSession" method="POST">

    <div asp-validation-summary="ModelOnly" class="text-danger"> </div>

    <div class="form-outline mb-4 h4">
        Dodajesz gracza do tej sesji. Wpisz jego adres email. Gracz będzie miał wgląd do wszystkich kart bohaterów oraz do map.
    </div>
    <div class="col-md-4">
        <select class="form-select" aria-label="Default select example" asp-items="@(List)" asp-for="PlayerName">
            <option selected>Wybierz Gracza</option>
        </select>
        <input type="Submit" style="margin-top: 25px" class="w-100 btn btn-lg btn btn-success" value="Dodaj" />
    </div>
</form>