@model ExpandedCardModel
<style>
    img {
        max-width: 100%;
        object-fit: contain;
    }
</style>
<h2 class="card-title" style="font-size: 1.5em">Bohaterowie</h2>
<div id="AllMessages">
    @if (User.IsInRole("GameMaster"))
    {
        <div class="nav-item">
            <a class="btn btn-primary" asp-controller="Hero" asp-action="Create">
                Utwórz Nowego Bohatera
            </a>
        </div>
    }
    @for (int i = 0; i < Model.ListOfCards.Count; i++)
    {
        <div class="card my-4" style="width: 90%;">
            <div class="card-body">
                <h5 class="card-title">@Model.ListOfCards[i].Title</h5>
                @if (Model.ListOfCards[i].CardPath != null)
                {
                    <a class="card-subtitle mb-2 text-muted" href="../HeroCardFiles/@Model.ListOfCards[i].CardPath" target="_blank">Otwórz w nowej karcie</a>

                }
                <p class="card-text">@Model.ListOfCards[i].Body</p>
                @if (Model.ListOfCards[i].CardPath != null)
                {
                <img src="HeroCardFiles/@Model.ListOfCards[i].CardPath">
                }
                @if (User.IsInRole("GameMaster"))
                {
                    @*                <a href="#" class="card-link">Edytuj</a>
            <a href="#" class="card-link">Usuń</a>*@
                }
            </div>
        </div>
    }
</div>