@model NoteViewModel
<script src="~/js/tinymce/tinymce.min.js" referrerpolicy="origin"></script>
<form asp-controller="Chronology" asp-action="CreateChronologyNote" method="POST">

    <div asp-validation-summary="ModelOnly" class="text-danger"> </div>

    <div class="form-outline mb-4 h4">
        Dodajesz nową notatkę. Służy ona do chronologicznego zapisywania losów bohaterów. Nadaj jej nazwę, oraz dodaj treść.
    </div>
    <div class="form-outline mb-4">
        <label class="form-label" asp-for="Title">Tytuł Notatki</label>
        <div>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
    </div>
    <div class="form-outline mb-4">
        <label class="form-label" asp-for="Body">Treść Notatki</label>
        <div>
            <textarea asp-for="Body" class="form-control"></textarea>
            <span asp-validation-for="Body" class="text-danger"></span>
        </div>
    </div>
    <input type="Submit" class="btn btn-success" value="Utwórz!" />
</form>
@section Scripts{
    <script>
        tinymce.init({
            selector: 'textarea#body'
        });
    </script>
}