@model List<NoteViewModel>
    <h2 class="card-title" style="font-size: 1.5em">Notatki Osobiste</h2>
    <div id="AllMessages">

    <div class="nav-item">
        <a class="btn btn-primary" asp-controller="Personal" asp-action="Create">
            Utwórz nową notatkę
        </a>
    </div>

        @for (int i = 0; i < Model.Count; i++)
        {
        <div class="card my-4" style="width: 90%;">
            <div class="card-body">
                <h5 class="card-title">@Model[i].Title</h5>
                <p class="card-text">@Model[i].Body</p>
@*                <a href="#" class="card-link">Edytuj</a>
                <a href="#" class="card-link">Usuń</a>*@
            </div>
        </div>
        }
    </div>