@model ExpandedCardModel

<h2  style="font-size: 1.5em">Bestiariusz</h2>
<div id="AllMessages">

    <div class="nav-item">
        <a class="btn btn-primary" asp-controller="Beastiary" asp-action="Create">
            Utwórz nową bestię
        </a>
    </div>

    @for (int i = 0; i < Model.ListOfCards.Count; i++)
    {
        <div class="card my-4" style="width: 90%;">
            <div class="card-body">
                <h5 class="card-title">@Model.ListOfCards[i].Title</h5>
                @if(Model.ListOfCards[i].CardPath!=null)
                {
                <a class="card-subtitle mb-2 text-muted" href="../BeastiaryCardFiles/@Model.ListOfCards[i].CardPath" target="_blank">Otwórz Kartę Bestii</a>
                }
                <p class="card-text">@Model.ListOfCards[i].Body</p>
                @if (Model.ListOfCards[i].CardPath != null)
                {
                    <img src="BeastiaryCardFiles/@Model.ListOfCards[i].CardPath">
                }
@*                <a asp-controller="Beastiary" asp-action="Edit" class="card-link">Edytuj</a>
                <a href="#" class="card-link">Usuń</a>*@
            </div>
        </div>
    }
</div>