@model HomeModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    @foreach (var item in Model.Text)
    {
        <div class="row mx-5 text-start h3">
            <li>@item</li>
        </div>
    }

</div>
