
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    padding: 0;
    width: 100%;
    height: 90%;
    background: rgb(238,238,255);
    background: linear-gradient(129deg, rgba(238,238,255,1) 0%, rgba(204,239,249,1) 73%, rgba(229,250,225,1) 100%);
}

@font-face {
    font-family: myFirstFont;
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
}

* {
    font-family: 'Roboto', sans-serif;
}

content {
    width: 50%;
    background-color: white;
    position: fixed;
    margin: 18% 22%;
    padding 50px;
    border-radius: 25px;
    box-shadow: 3px 8px 23px 0px rgb(25, 25, 77);
}
nav {
    height:100px;
    background: rgb(171,171,251);
    background: linear-gradient(40deg, rgba(171,171,251,1) 0%, rgba(201,206,252,1) 42%, rgba(158,234,255,1) 100%, rgba(226,251,221,1) 100%);
}
navbar-brand {
    font-size: 40px;
    letter-spacing:1px;
}
title {
    vertical-align: middle;
}
a.btn-primary {
    background-color: rgb(102, 102, 255);
}
button.btn-info {
    background-color: rgb(204, 255, 255);
}
input.btn-success {
    background-color: rgb(102, 102, 255);
}