@model RPGApp.Data.Session

@{
    ViewData["Title"] = "Utwórz Sesję";
}

@if (User.IsInRole("GameMaster"))
{
    <h4>Utwórz Sesję</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="CreateSession">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-inline my-3">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Utwórz" class="w-100 btn btn-lg btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-controller="Home" asp-action="Index">Powrót</a>
    </div>
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
