@model HeroCardFileModel
@{
    Layout = null;
}
<form asp-controller="HeroCardFile" asp-action="Index" method="post" enctype="multipart/form-data">
    <input type="file" name="file" />
    <hr />
    <button type="submit">Upload</button>
</form>

@if (Model != null)
{
    <hr />
    <table class="table table-bordered table-secondary progress-bar-striped" cellpadding="0" , cellspacing="10" border="1">
        <thread>
            <tr>
                <th>SL</th>
                <th>PDF Name</th>
                <th>Display Type</th>
            </tr>
        </thread>
        <tbody>
            @foreach (HeroCardFileModel file in Model.HeroCardFiles)
            {
                <tr>
                    <td>@file.FileId</td>
                    <td>@file.Name</td>
                    <td>
                        <a href="../files/@file.Name" style="margin-right:10px;">Current Page</a>
                        <a href="../files/@file.Name" target="_blank">New Tab</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<br />
<br />
<embed id="embPDF" src="../files/@Model.Name" style="=width:100%; height=1200px;" />